#solo_news {
    padding-top: 10px;
}

.article {
    padding: 5px;
}

.article_title {
    font-size: 18px;
    font-weight: 700;
}

.article_body {
    font-size: 16px;
}

.article_body img {
    background: rgba(0,0,0,1);
}