#solo_news {
    padding-top: 10px;
}

.news_by_id {
    padding: 5px;
}

.title_news_by_id {
    font-size: 18px;
    font-weight: 700;
}

.body_news {
    font-size: 16px;
}

.body_news img {
    background: rgba(0,0,0,1);
}